Options -Indexes
RewriteEngine On


RewriteBase /projetoFinal/public
RewriteCond %(REQUEST_FILENAME)! -f
RewriteCond %(REQUEST_FILENAME)! -d
RewriteRule ^(.+)$index.php?uri=$1[QSA,L]
RewriteRule ^([A-Za-z0-9_\\/\-]+)$index.php?uri=1[QSA,L]